<ion-header>
  <ion-toolbar>
    <ion-title>
      FORM
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <swiper [pagination]="{ clickable: true }" [keyboard]="true"> -->
    <ng-container  *ngFor="let control of page?.controls" >
      <!-- <swiper-slide> -->
        <ion-grid [formGroup]="form">
          <!-- <ion-row *ngFor="let row of page?.rows"> -->
          <!-- [size-xl]="control.sizeXl" [size-lg]="control.sizeLg" [size-md]="control.sizeMd" [size-sm]="control.sizeSm" [size-xs]="control.sizeXs"  -->
          <ion-col [ngSwitch]="control?.type" >
            <ng-container *ngSwitchCase="'textbox'">
              <ion-item>
                <ion-label position="stacked">{{control?.text}}</ion-label>
                <ion-input type="{{control?.validation === 'password' ? 'password' : 'text'}}" formControlName="{{control?.id}}" (ionChange)="onInputChange(control)" [ngStyle]="{'font-weight': control?.fontWeight, 'text-transform': control?.textTransform}"></ion-input>
              </ion-item>
            </ng-container>
            <ng-container *ngSwitchCase="'label'">
              <ion-item>
                <ion-label position="stacked">{{control?.text}}</ion-label>
              </ion-item>
            </ng-container>
            <ng-container *ngSwitchCase="'checkbox'">
              <ion-item>
                <ion-label>{{control?.text}}</ion-label>
                <ion-checkbox formControlName="{{control?.id}}" (ionChange)="onCheckboxChange(control)" [ngStyle]="{'font-weight': control?.fontWeight, 'text-transform': control?.textTransform}"></ion-checkbox>
              </ion-item>
            </ng-container>
            <ng-container *ngSwitchCase="'button'">
              <ion-button expand="{{getButtonExpand(control)}}" color="{{getButtonColor(control)}}" (click)="onButtonClick(control)" [ngStyle]="{'font-weight': control?.fontWeight, 'text-transform': control?.textTransform}">
                {{control?.text}}
              </ion-button>
            </ng-container>
          </ion-col>
        <!-- </ion-row> -->
      </ion-grid>
    <!-- </swiper-slide> -->
  </ng-container>
  <!-- </swiper> -->
</ion-content>
