<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dynamically Generated Form Application
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Dynamically Generated Form Application</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Please click on the button to start</strong>
    <div>
      <!-- <button type="button" color="primary">Click Here</button> -->
      <ion-button color="success" (click)="onButtonClick()">
        Click Here</ion-button>
    </div>
  </div>
</ion-content>
